<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixCoders.suse.dao.SorderMapper">
	<resultMap type="com.sixCoders.suse.model.Sorder" id="BaseResultMap">
		<id column="o_id" property="oId"></id>
		<result column="o_picture" property="oPicture" />
		<result column="o_num" property="oNum" />
		<result column="o_amount" property="oAmount" />
		<result column="order_id" property="orderId" />
		<result column="p_id" property="pId" />
		<result column="s_id" property="sId" />
		<result column="user_id" property="userId" />
		<association property="shop" javaType="com.sixCoders.suse.model.Shop">
			<id column="p_id" jdbcType="INTEGER" property="pId" />
			<result column="p_name" jdbcType="VARCHAR" property="pName" />
			<result column="p_content" jdbcType="VARCHAR" property="pContent" />
			<result column="p_price" jdbcType="DECIMAL" property="pPrice" />
		</association>
		<association property="order" javaType="com.sixCoders.suse.model.Order">
			<id column="order_id" property="orderId"></id>
			<result column="order_amount" property="orderAmount" />
			<result column="order_time" property="orderTime" />
		</association>
		<association property="user" javaType="com.sixCoders.suse.model.User">
			<id column="user_id" property="userId"></id>
			<result column="user_num" property="userNum" />
			<result column="user_name" property="userName" />
			<result column="user_address" property="userAddress" />
		</association>
	</resultMap>



	<!-- List<Sorder> selectByOrderId(int orderid); -->
	<select id="selectByOrderId" resultMap="BaseResultMap">
		select sorder.o_id,
		u.user_name, u.user_address, u.user_num,
		s.p_name,
		s.p_content, s.p_price ,torder.order_amount,torder.order_id,
		torder.order_time,sorder.o_num,sorder.o_amount,sorder.o_picture
		from s_order
		sorder,t_order torder,shop s,user u
		where torder.order_id=#{orderid} and
		u.user_id=sorder.user_id and
		s.p_id=sorder.p_id and
		torder.order_id=sorder.order_id
	</select>
	
	<resultMap type="com.sixCoders.suse.model.User" id="SorderUser">
		<id column="user_id" property="userId"></id>
		<result column="user_name" property="userName"/>
		<result column="user_num" property="userNum"/>
		<result column="user_address" property="userAddress"/>
		<association property="order" javaType="com.sixCoders.suse.model.Order">
			<id column="order_id" property="orderId" ></id>
			<result column="order_amount" property="orderAmount"/>
			<result column="order_time" property="orderTime"/>
		</association>
	</resultMap>
	
	<!-- List<User> selectUserByOrderId(int orderid); -->
	<select id="selectUserByOrderId" resultMap="SorderUser">
		select u.user_name,u.user_num,u.user_address ,torder.order_time,torder.order_id,torder.order_amount
		from user u,t_order torder
		where torder.order_id=#{orderid} and torder.user_id=u.user_id 
		group by u.user_num
	
	</select>
</mapper>